@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:wght@700&display=swap");
/* font-family: 'Libre Baskerville', serif;
font-family: 'Raleway', sans-serif; */
root {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
body {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #3c3e64;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
      185deg,
      rgba(234, 228, 233, 0.6488970588235294) 0%,
      rgba(39, 34, 195, 0.5900735294117647) 100%
    ),
    url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.app-header {
  text-align: center;
  width: 30vw;
  font-family: "Raleway", sans-serif;
  font-size: 2.4rem;
}
.search {
  display: flex;
  flex-direction: column;
}
.search-input {
  width: 40vw;
  height: 1.5rem;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.628);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0.5rem 1rem;
  color: #5859627f;
  font-size: 1rem;
  font-style: italic;
}
.search-input:focus {
  outline: none;
}
.cities-list {
  padding: 0.5rem;
}
.cities-list li {
  list-style: none;
}
/* Today's weather */
.main {
  width: 90vw;
}
.todays-weather {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  margin-top: 2rem;
}
.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(31, 31, 54, 0.196);
  width: 20vw;
  padding: 2rem;
  border-radius: 10px;
}
.city-name-header {
  font-size: 1.8rem;
}
.current-conditions-image {
  width: 10rem;
}
.extra-weather-info {
  align-items: flex-start;
}

/* five days forecast */
.five-days-forecast {
  padding: 1rem;
  font-size: 1.4rem;
}
.forecast-header {
  margin: 0;
  font-family: "Raleway", sans-serif;
}
.forecast-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}
.forecasts-day {
  background-color: rgba(255, 255, 255, 0.41);
  width: 14vw;
  border-radius: 10px;
  padding: 1rem;
}
.forecasts-day li {
  list-style: none;
}
.arrow-down-icon,
.arrow-up-icon {
  font-size: 1.2rem;
  font-weight: 400;
}
